<h3>Invoices Table</h3>
<button type="button" (click)="showDialogToAddItem()">Add</button>
<p-dataTable [value]="invoices" selectionMode="single" [(selection)]="selectedInvoice" [contextMenu]="cm">
    <p-column field="InternalNumber" header="Internal Number" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="ProFormInvoiceDate" header="Pro Form Invoice Date" [sortable]="true"></p-column>
    <p-column field="FinalInvoiceDate" header="Final Invoice Date" [sortable]="true"></p-column>
    <p-column field="ProFormInvoiceNo" header="Pro Form Invoice No." [sortable]="true"></p-column>
    <p-column field="FinalInvoiceNo" header="Final Invoice No." [sortable]="true"></p-column>
    <p-column field="ProviderName" header="Provider Name" [sortable]="true"></p-column>
    <p-column field="ActivitiesValue" header="Activities Value" [sortable]="true"></p-column>
    <p-column field="GrossTotal" header="Gross Total" [sortable]="true"></p-column>
    <p-column field="InvoiceStatus" header="Invoice Status" [sortable]="true"></p-column>
    <p-column field="PaymentStatus" header="Payment Status" [sortable]="true"></p-column>
    <p-column field="PaymentDueDate" header="Payment Due Date" [sortable]="true"></p-column>
</p-dataTable>

<p-dialog header="New Invoice" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newInvoice">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="InternalNumber">Internal Number</label></div>
            <div class="ui-grid-col-8"><input pInputText id="InternalNumber" [(ngModel)]="newInvoice.InternalNumber" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="ProFormInvoiceDate">Pro Form Invoice Date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="ProFormInvoiceDate" [(ngModel)]="newInvoice.ProFormInvoiceDate" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="FinalInvoiceDate">Final Invoice Date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="FinalInvoiceDate" [(ngModel)]="newInvoice.FinalInvoiceDate" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="ProFormInvoiceNo">Pro Form Invoice No.</label></div>
            <div class="ui-grid-col-8"><input pInputText id="ProFormInvoiceNo" [(ngModel)]="newInvoice.ProFormInvoiceNo" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="FinalInvoiceNo">Final Invoice No.</label></div>
            <div class="ui-grid-col-8"><input pInputText id="FinalInvoiceNo" [(ngModel)]="newInvoice.FinalInvoiceNo" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="ProviderName">Provider Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="ProviderName" [(ngModel)]="newInvoice.ProviderName" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="ActivitiesValue">Activities Value</label></div>
            <div class="ui-grid-col-8"><input pInputText id="ActivitiesValue" [(ngModel)]="newInvoice.ActivitiesValue" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="GrossTotal">Gross Total</label></div>
            <div class="ui-grid-col-8"><input pInputText id="GrossTotal" [(ngModel)]="newInvoice.GrossTotal" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="InvoiceStatus">Invoice Status</label></div>
            <div class="ui-grid-col-8"><input pInputText id="InvoiceStatus" [(ngModel)]="newInvoice.InvoiceStatus" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="PaymentStatus">Payment Status</label></div>
            <div class="ui-grid-col-8"><input pInputText id="PaymentStatus" [(ngModel)]="newInvoice.PaymentStatus" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="PaymentDueDate">Payment Due Date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="PaymentDueDate" [(ngModel)]="newInvoice.PaymentDueDate" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="save()" label="Add"></button>
        </div>
    </p-footer>
</p-dialog>

<p-contextMenu #cm [model]="items"></p-contextMenu>